{% extends "base/main.html" %}

{% block content %}

<div class="header-bar">
    <div>
        <h1>Olá, {{request.user|title}}</h1>
        <h3 style="margin: 0">Você tem <i>{{count}}</i> tarefa{{ count|pluralize:"s" }} incompleta{{ count|pluralize:"s" }}.</h3>
    </div>

    {% if request.user.is_authenticated %}
    <form method="post"  action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="sair-tasklist">
            Sair
        </button>    
    </form> 
    {% endif %}

</div>

{% comment %} <hr>
<h1>Lista de Tarefas</h1>

<a href="{% url 'criar-tarefa' %}">Criar tarefa</a>

<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Procurar">
</form> {% endcomment %}

<div class="task-items-wrapper">
    {% for tarefa in tarefas %}
        <div class="task-wrapper">
            {% if tarefa.completo %}
                <div class="task-title">
                    <div class="task-complete-icon"></div>
                    <i><s><a href="{% url 'editar-tarefa' tarefa.id %}">{{ tarefa }}</a></s></i>
                    <a class="delete-link" href="{% url 'deletar-tarefa' tarefa.id %}">&#215;</a>
                </div>
            {% else %}
            <div class="task-title">
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'editar-tarefa' tarefa.id %}">{{ tarefa }}</a>
            </div>
            <a class="delete-link" href="{% url 'deletar-tarefa' tarefa.id %}">&#215;</a>
            {% endif %}
            
        </div>

    {% empty %}
    <h3>Sem tarefas na lista</h3>
    {% endfor %}
</div>

{% comment %} <table>
    <tr>
        <th>Tarefas</th>
        <th></th>
        <th></th>
    </tr>
    {% for tarefa in tarefas %}
    <tr>
        <td>{{ tarefa.titulo }}</td>
        <td><a href="{% url 'tarefa' tarefa.id %}">Visualizar</a></td>
        <td><a href="{% url 'editar-tarefa' tarefa.id %}">Editar</a></td>
        <td><a href="{% url 'deletar-tarefa' tarefa.id %}">Deletar</a></td>
    </tr> 
    {% empty %}
    <h3>Sem tarefas na lista</h3>
    {% endfor %}
</table> {% endcomment %}
{% endblock content %}